@font-face {
	font-family: 'Monument';
	src: url('../fonts/Monument-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Monument';
	src: url('../fonts/Monument-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Synt';
	src: url('../fonts/Synt-Slant.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Monument', sans-serif;
}
